#root > div > nav {
  display: flex;
  width: 98%;
  background-color: rgb(51, 51, 51);
  margin: 0 1rem 0 1rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  -webkit-box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.75);
  align-content: center;
}
#navbarNavDropdown > ul > li > a {
  color: white;
}
.nav-link {
  color: white;
}
.navbar {
  display: flex;
}
.nav {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  #root > div > nav {
    padding: 2rem 0rem;
  }
}
